.admin-cars-container {
    padding: 10px;
    background-color: #0a2c5ea3;
    border-radius: 20px;
   display: flex;
   flex-direction: column;
   width: 500px;
   margin: 30px auto;
   color: white;


}

.admin-cars-container label {
    margin: 0 auto;
    margin-bottom: 10px;
}
.admin-cars-container input {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
    outline: none;
    padding: 10px 10px 5px;
}

h1 {
    text-align: center;
    margin: auto;
    width: fit-content;
    margin: 20px auto;
}

.btn-send-database {
    width: 200px;
    margin: 20px auto;
    
}

@media (max-width: 700px) {

    .admin-cars-container {
        padding: 10px;
      
        border-radius: 20px;
       display: flex;
       flex-direction: column;
       width: 85%;
       margin: 30px auto;
    }
}