.admin-options {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

h4 {
    text-align: center;
}

.admin-options button {
    padding: 10px;
    width: 91.6px;
    border-radius: 20px;
    font-size: 13px;
    font-family: 'Azeret Mono', monospace;
    transition: 300ms
}
.admin-options button:hover {
    background: black;
    color: white; 
    
}
.admin-options button:focus {
    background: black;
    color: white; 
    
}

.red-caution {
    background: red;
    color: white;
    margin: 0px auto;
    margin-top: 50px;
    line-height: 30px;
    padding: 20px;
    width: 500px;
    border-radius: 8px;
}

@media (max-width: 400px) {

    .red-caution {
        background: red;
        color: white;
        margin: 0px auto;
        margin-top: 50px;
        line-height: 30px;
        padding: 20px;
        width: 90%;
        border-radius: 8px;
    }
}

